<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue-todo</title>
</head>
<body>
    <div id="app">
        <h1>Todo app</h1>
        <input type="text" v-model="inputText" v-on:keyup.enter="addItem">
        <button v-on:click="fetchItems">add</button>
        <div>
            <ul>
                <li v-for="(todoItem, index) in todoItems">
                    {{ todoItems }}
                    <button v-on:click="removeItem(todoItem, index)"> remove</button>
                </li>
            </ul>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            created: function(){
                //페이지 실행하자마자 로딩
                this.fetchItems();
            },
            methods: {
                removeItem: function(todoItem, index){
                    console.log(todoItem, index);
                    this.todoItems.splice(index, 1);
                    localStorage.removeItem(todoItem);
                },
                addItem: function(event){
                    var value = this.inputText;
                    localStorage.setItem(value, value); //key와 value를 똑같이 넣을것
                    this.inputText = '';
                    this.todoItems.push(value);
                },
                fetchItems: function(){
                    for (var i = 0; i < localStorage.length; i++){
                        var value = localStorage.key(i);
                        this.todoItems.push(value);
                    }
                }
            },
            el: '#app',
            data: {
                inputText: '',
                todoItems: []
            },
        })
    </script>
</body>
</html>